<mat-tab-group>
  <mat-tab label="Hello">
    <app-hello></app-hello>
  </mat-tab>
  <mat-tab label="开始之前">
    <app-before></app-before>
  </mat-tab>
  <mat-tab label="简单的例子">
    <app-eze></app-eze>
  </mat-tab>
  <mat-tab label="Intro to Rx">
    <app-intro-to-rx></app-intro-to-rx>
  </mat-tab>
  <mat-tab label="函数式编程">
    <app-functional-programming></app-functional-programming>
  </mat-tab>
  <mat-tab label="响应式编程">
    <app-reactive-programming></app-reactive-programming>
  </mat-tab>
  <mat-tab label="函数式训练">
    <app-functional-programming-training></app-functional-programming-training>
  </mat-tab>
  <mat-tab label="什么是RxJs">
    <app-wir></app-wir>
  </mat-tab>
  <mat-tab label="为何选择Reactive Programming">
    <app-crp></app-crp>
  </mat-tab>
  <mat-tab label="实现双击事件">
    <app-dbc></app-dbc>
  </mat-tab>
  <mat-tab label="稍微总结一下">
    <app-conclusion></app-conclusion>
  </mat-tab>
</mat-tab-group>


