.result {
  width: 25%;
  height: 500px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
}

.result-value {
  border-radius: 3px;
  border: 1px solid gray;
  margin-top: 20px;
  width: 150px;
  margin-left: 40px;
}

.explanation {
  width: 70%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.stream-button {
  width: 200px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
