<div class="container">
  <markdown ngPreserveWhitespaces>
    ## 在介绍RxJs之前
    ### 先从别的角度审视软件开发

    - 曾经面向对象式编程一统天下
    - 彼时指令式编程深入人心
    - 此时函数式编程和响应式编程被历史的聚光灯笼罩

    ### Rx则是兼具函数式(functional)和响应式(reactive)两种编程风格的框架

    ### RxJs则是Rx的JavaScript实现

    ### 为什么要使用Rx - Rx能帮助我们什么

    1. 控制大量代码的复杂度
    2. 增加代码的可读性
    3. 更优雅地处理异步操作

    ### 但是Rx的学习曲线极为陡峭

    <img src="../../assets/2.png" alt="rx学习曲线" width="700"/>

    ### 这个锅需要官方来背

    - 虽然RxJS是一个开源框架，并且已经迭代至目前的第六代，代码可圈可点
    - 但是文档写的真的太烂了
    - 官方文档虽然内容很多，但是内容之间循环引用
    - 很容易出现 `了解a` 需要 `了解b`  `了解b` 需要 `了解c` `了解c` 需要 `了解a` 的循环
    - 更别提根本没有提及如何让初学者以何种方式入门
    - 让人头大，产生恶性劝退
    
    <img src="../../assets/3.png" alt="god damn" width="500">

    ### 学习之前的疑问

    - RxJs复杂难懂一定有必要去学吗
    - 软件开发的行业变化总体呈现多变化快发展的态势
    - 今日的苗头可能就是明日的必须
    - 你是选择临时抱佛脚还是选择未雨绸缪挖地道

  </markdown>
</div>
