<div class="explanation">
  <div>
    <markdown ngPreserveWhitespaces>
      ## Rx的世界有一种特殊的对象

      ### 流(stream)

      #### 也称为数据流或Observable对象

      - 数据流理解成为一条河流，数据则是在河中的水

      ### 需要注意

      - 代表流的变量都以`$`符号结尾，这一风格在RxJs中作为最佳实践存在，其命名规则为`芬兰命名法`(Finnish Notation)

      - 在上面的代码中，time$系列，displayValue$都是数据流分别代表着时间流和用户输入展示流

      - 流对象中流动的是数据，而通过subscribe可以添加自定义函数对数据进行操作

      - 一般的编程思路，不同的逻辑根据单一变量进行交叉关联，容易造成bug

      - 在Rx的思路中，变量的值并不会因为逻辑的交叉而发生变化

      - 在一般实现中，代码是一连串的指令的组合

      - 在Rx的实现中，代码作为一个个函数链式反应，每个函数只对输入的参数做出相应返回结果

      - 即使现在你难以读懂RxJs的代码，但是你也会发现，Rx下的代码更加容易理解和维护

      ### Rx的优势在于

      1. 函数式
      2. 响应式
    </markdown>
  </div>
</div>
