<div class="container">
  <markdown ngPreserveWhitespaces>
    ## 这一部分修正为在线测试或笔试

    ## 让我们循序渐进

    ### 打印数组的所有内容

    ```javascript
    function(console) {{'{'}}
    var names = ["Ben", "Jafar", "Matt", "Priya", "Brian"],
    counter;

    for(counter = 0; counter < names.length; counter++) {{'{'}}
    console.log(names[counter]);
    }
    }
    ```

    ### 使用forEach打印数组的所有内容

    ```javascript
    function(console) {{'{'}}
    var names = ["Ben", "Jafar", "Matt", "Priya", "Brian"];
    names.forEach(function(name) {{'{'}}
    console.log(name);
    });
    }
    ```

    ### 使用forEach投影一个数组为{{'{'}}id,title}的模式

    ```javascript
    function() {{'{'}}
    var newReleases = [
    {{'{'}}
    "id": 70111470,
    "title": "Die Hard",
    "boxart": "http://cdn-0.nflximg.com/images/2891/DieHard.jpg",
    "uri": "http://api.netflix.com/catalog/titles/movies/70111470",
    "rating": [4.0],
    "bookmark": []
    },
    {{'{'}}
    "id": 654356453,
    "title": "Bad Boys",
    "boxart": "http://cdn-0.nflximg.com/images/2891/BadBoys.jpg",
    "uri": "http://api.netflix.com/catalog/titles/movies/70111470",
    "rating": [5.0],
    "bookmark": [ {{'{'}} id: 432534, time: 65876586 }]
			},
    {{'{'}}
      "id": 65432445,
        "title": "The Chamber",
        "boxart": "http://cdn-0.nflximg.com/images/2891/TheChamber.jpg",
        "uri": "http://api.netflix.com/catalog/titles/movies/70111470",
        "rating": [4.0],
        "bookmark": []
      },
    {{'{'}}
    "id": 675465,
    "title": "Fracture",
    "boxart": "http://cdn-0.nflximg.com/images/2891/Fracture.jpg",
    "uri": "http://api.netflix.com/catalog/titles/movies/70111470",
    "rating": [5.0],
    "bookmark": [ {{'{'}} id: 432534, time: 65876586 }]
    }
    ],
        videoAndTitlePairs = [];

    newReleases.forEach(function(video) {{'{'}}
    videoAndTitlePairs.push( {{'{'}} id: video.id, title: video.title });
    });

	return videoAndTitlePairs;
    }
    ```
  </markdown>
</div>
